POSTGRES_USER=nexus
POSTGRES_PASSWORD=nexus_dev
POSTGRES_DB=nexus_dev
POSTGRES_PORT=55432
POSTGRES_TEST_PORT=55433
MINIO_ROOT_USER=nexus
MINIO_ROOT_PASSWORD=nexus_dev
MINIO_API_PORT=59000
MINIO_CONSOLE_PORT=59001
